:root {
  --primary-color: #FF9F46;
  --border-color: #F8F9F9;
  --theme-gradient: linear-gradient(90deg,#fa8c1d,#fcaf3f);
/* 全局修改搜索图标 */
  --van-search-left-icon-color:var(--primary-color) !important;

}

body {
  font-size: 14px;
}

.bottom-gray-line {
  border-bottom: var(--border-color) 1px solid;
}